.main{
  margin-right: 8%;
  color: white;
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  width: 640px;
}
.title{
  width: max-content;
  padding: 0;
   p{
     margin: 0;
     font-weight: initial;
     padding: 0;
     float: right;
   }
   h1{
     font-weight: bold;
     padding: 0;
     margin: 0;
   }
}
.description{
  h1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p{
    font-weight: 200;
  }
}