.image {
  height: 600px;
  background-image: url('../../../img/photo.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.container{
  margin-top: 10px;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}
.wrapper{
  mix-blend-mode: difference;
  position: absolute;
  background: #ffffff;
  width: 30%;
  min-width: 500px;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
}