.img{
  background-position: center;
  background-size: cover;
  background-image: url('../../../img/forest.png');
  width: 750px;
  box-shadow: 0px 0px 100px 0px #000 inset;
  height: 440px;
  z-index: -2;
}
.container{
  z-index: -1;
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 140px;
}