.section{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}
.img{
  position: absolute;
  width: 30vw;
  bottom: -15vw;
  height: 70vh;
  right: 15vw;
  z-index: -1;
  background-image: url('./15867-Black-And-White-Forest-.jpg');
  background-position: center;
  background-size: cover;
}
.main{
  z-index: -2;
  opacity: 0.2;
  font-size: 400px;
  left: 0;
  position: absolute;
}