.section{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
  h1:not(:last-child){
    position: absolute;
    bottom: 0vh;
    right: 10vw;
    width: 100%;
    font-size: clamp(20vh, 2vw, 6vh);
  }
}
.img{
  position: absolute;
  width: 30vw;
  bottom: -30vh;
  height: 70vh;
  right: 15vw;
  z-index: -1;
  background-image: url('./15867-Black-And-White-Forest-.jpg');
  background-position: center;
  background-size: cover;
}
.main{
  right: 40vw;
  z-index: -2;
  opacity: 0.2;
  font-size: clamp(30vh, 4vw, 12vh);
  position: absolute;
}
