.skill {
  color: white;
  margin: 0 auto;
  font-size: 60px;
  font-weight: normal;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  -webkit-animation: move 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
}

.wrapper {
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 80px;
}
.black{
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
}
@keyframes move {
  0%  { top: 0; }
  10% { top: -80px; }
  20% { top: -180px; }
  30% { top: -275px; }
  40% { top: -370px; }
  50% { top: -450px; }
  100% {top: 0;}
}