.section{
  justify-content: center;
  display: flex;
  width: 100vw;
  margin-top: 50vh;
  h1{
    font-size: clamp(4vh, 2vw, 6vh);
    color: black;
  }
  p{
    font-size: clamp(1vh, 2vw, 3vh);
    color: black;
  }
}
.title{
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  p{
    display: flex;
    float: right;
  }
}
.text{
  margin-top: 20px;
  width: 50vw;
}