.title{
  padding-top: 200px;
  color: white;
  font-weight: 300;
  font-family: League Spartan, sans-serif !important;
  font-size: 3.25rem;
  width: 35rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 90px
}
.arrow{
  margin: 120px auto;
  display: flex;
}