.title{
  padding-top: 200px;
  color: white;
  font-weight: 300;
  font-family: League Spartan, sans-serif !important;
  font-size: 3.25rem;
  width: 35rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 90px
}
.arrow{
  margin: 120px auto;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .title{
    padding-top: 150px;
  font-weight: bolder;
  width: 50%;
  }
  .arrow{
    margin: 220px auto;
    display: flex;
  }
}