.title{
  mix-blend-mode: difference;
  width: 50%;
  height: 670px;
  background: white;
  h1{
    font-size: 80px;
    line-height: 0.9;
    letter-spacing: 3px;
    font-style: normal;
    font-weight: 500;
    width: min-content;
    color: black;
    font-family: "Manrope", sans-serif !important;
  }
}
.content{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 230px;
  margin: 0 auto;
  p{
    position: absolute;
  }
}
