.header{
  padding-top: 4vh;
  margin-right: 10%;
  align-items: center;
  margin-left: 10%;
  font-size: clamp(1vh, 3vw, 2.4vh);
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
//.language{
//  display: flex;
//  button, p{
//    background: none;
//    font-weight: 300;
//    border: none;
//    font-size: clamp(1vh, 3vw, 2.4vh);
//  }
//}
.navbar{
  display: flex;
  gap: 5vw;
  button{
    font-size: clamp(1vh, 3vw, 2.4vh);
    background: none;
    border-radius: 5px;
    padding: 5px 15px;
    border: 0.6px solid white;
  }
}