.header{
  padding-top: 4vh;
  margin-right: 10%;
  margin-left: 10%;
  font-size: clamp(1vh, 3vw, 3vh);
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.language{
  display: flex;
  button, p{
    background: none;
    font-weight: 300;
    border: none;
    font-size: clamp(1vh, 3vw, 3vh);
    cursor: pointer;
  }
}
.navbar{
  a{
    cursor: pointer;
  }
  display: flex;
  gap: 5vw;
}