.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  color: white;
}
.line{
  opacity: 0.9;
  border-radius: 20px;
  width: 80%;
  height: 1px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  background: white;
}
.info{
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
.contact{
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.ig{
  font-size: 30px;
  font-weight: bolder;
  color: orange;
}
.link{
  font-size: 30px;
  font-weight: bolder;
  color: cornflowerblue;
}
.tg{
  font-size: 30px;
  font-weight: bolder;
  color: #64c8ed;
}
.contact {
  a{
    color: white;
    text-decoration: none;
  }
  span{
    padding-right: 10px;
  }
}
@media only screen and (max-width: 600px) {

  .info{
    flex-direction: column;
  }
}