*{
  margin: 0;
  padding: 0;
}
html{
  cursor: none;
}
body{
  overflow-x: hidden;
  height: 100%;
  font-family: League Spartan, sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.95);
  h1, h2, p, span, button{
    font-family: League Spartan, sans-serif;
    color: white;
  }
}
.container {
  color: white;
  width: 300vw;
  display: flex;
  flex-wrap: wrap;
  .panel{
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }
}
.page{
  height: 100vh;
}
