.cursor {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   z-index: 999;
   background-color: #ffffff;
   transform: translate(-50%, -50%);
   position: absolute;
   mix-blend-mode: difference;
   pointer-events: all;
}
h1:hover > .cursor {
   display: none;
}

.cursorDelay {
   z-index: 999;
   width: 30px;
   pointer-events: all;
   transform: translate(-50%, -50%);
   height: 30px;
   border-radius: 50%;
   border: 1px solid white;
   position: absolute;
   mix-blend-mode: difference;
}
