.cursor {
    width: 10px;
    height: 10px;
    z-index: 1;
    background: rgba(255, 255, 255, 1); /* Изменено на прозрачность */
    position: absolute;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; /* Позволяет событиям мыши проходить через элемент */
}

.cursor-delay {
    mix-blend-mode: difference;
    z-index: 1;
    width: 30px;
    transform: translate(-50%, -50%);
    height: 30px;
    position: absolute;
    border: 1.2px solid rgba(255, 255, 255, 0.7); /* Изменено на прозрачность */
    border-radius: 50%;
    pointer-events: none; /* Позволяет событиям мыши проходить через элемент */
}
